:root {
  --background: #161a1d;
  --background-light: #1f2d4146;
  --primary: #eb5e28;
  --secondary: #3a2318;
  --tertiary: #8a4020;
  --tertiary-light: #a5512d;
  --valid: #88d18a;
  --invalid: #c75252;
  --text: #ffffff;
  --menu-text: #a4a4a4;
  --headerHeight: 65px;
  --verticalMenuWidth: 250px;
  --cardPadding: 7px;
}

.flex-horizontal {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.menu {
  height: calc(100% - var(--headerHeight));
  margin: 0px;
  z-index: 9;
}

.main-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  font-family: Montserrat;
  overflow: hidden;
}

.main-wrapper > * > * {
  padding: calc(var(--headerHeight) / 4);
}

@font-face {
  font-family: Montserrat;
  src: url(../../../public/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  max-width: var(--verticalMenuWidth);
  transition: 0.4s;
}

@media screen and (max-width: 1300px) {
  .flex-vertical {
    position: absolute;
    height: calc(100% - 65px);
    max-width: 70px;
  }

  .flex-vertical:hover {
    max-width: var(--verticalMenuWidth);
  }

  .flex-vertical:hover [class*="menu-title-wrapper"] {
    width: 100%;
  }

  .content-wrapper {
    margin-left: 70px;
  }
}

.content-wrapper {
  padding: var(--cardPadding);
  display: flex;
  flex: 1;
  overflow: auto;
}
